
.head{
    position: absolute;
    height: 10rem;
    width: 10rem;
    margin-left: 40%;
}
.head .image_head{
    height: 100%;
    width: 100%;
    border-radius: 50%;
}
.image_text{
    position: relative;
}